</body>

<footer>
  <section class="bg2" id="c">
    <div class="container-fluid">
      <h4 class="foot">Hubungi kami</h4>
      
      <div class="foot">
        <h4>
          <a href="https://www.facebook.com/profile.php?id=100071407149235" target="_blank">
            <i class="ico fab fa-facebook"></i> 
          </a>
          <a href="https://mail.google.com/mail/u/0/?fs=1&to=rooms.id.21@gmail.com&tf=cm" target="_blank">
            <i class="ico fas fa-envelope"></i>
          </a> 
        </h4>
      </div>
      
    </div>
  </section>
</footer>

<!-- <section id="c">
  <footer>
    <div class="gfg">
      <img src="/Images/Asset 3.png" alt="">
      <i class="foot fab fa-facebook"></i>
    </div>
    
  </footer>
</section> -->


<script type="text/javascript">
    $( document ).ready(function() {
  // Date Time Picker Initialization
  $('.date-time').dateTimePicker();
  $('.date-time-2').dateTimePicker();
});

$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})


</script>

</html>