<%- include('partials/header-home') %>

<!--Scan Barcode-->
<div class="container-fluid">
    <div class="">
        <h1 >Scan Barcode</h1>
        <a href="">
            <div class="scan-qr center">
                <img class="img-sc-qr" src="/Images/scan-qr.png" alt="BArcode">
            </div>
        </a>
    </div>
</div>

<!--My Room-->
<div class="container-fluid">
    <!--Header Content-->
    <div class="header-content">
        <div class="row">

            <div class="col-lg-6 d-flex justify-content-left">
                <h1>Found Room</h1>
            </div>

        </div>
    </div>

    <!--Content-->
    <div class="content">
        <div class="row">
    


                          
        </div>

    </div>

</div>


<%- include('partials/footer') %>