<%- include('partials/header-kosong') %>


        

      <!--Form Daftar-->
      <h1 class="title-content">Daftar Akun</h1>
      <form action="/daftar" method="post">
        <div class="center">

          <div class="form-floating mb-3">
            <input required type="text" class="form-control" name="nama" id="floatingInput" placeholder="Nama Lengkap">
            <label for="floatingInput">Nama Lengkap</label>
          </div>

          <div class="form-floating mb-3">
            <input required type="email" class="form-control" name="username" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Alamat Email</label>
          </div>

          <div class="form-floating mb-3">
            <input required type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Kata Sandi</label>
          </div>

          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Setuju dengan <a href="">Syarat & Ketentuan</a></label>
          </div>

          <div class="card-body">
            <button class="btn btn-submit" type="submit">Buat Akun</button>
          </div>
      </form>
          
          <p class="small-text">Atau</p>

          <div class="card-body">
            <a class="btn btn-block btn-google" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Daftar dengan Google
            </a>
  
          </div>
          
        </div>

      <p class="small-text"><a href="masuk">Sudah punya akun? <span class="bold">Masuk</span> </a></p>
    </div>


<%- include('partials/footer') %>