<%- include('partials/header-error') %>

    <div class="container-fluid">
        <div class="dv-card1">
            <h1 class="error">404</h1>
            <h2 class="error">Halaman Tidak Ditemukan</h2>
        </div>
    </div>


<%- include('partials/footer') %>

