<%- include('partials/header-error') %>

        <div class=".container-fluid-lp">
            <div class="dv-card1">
                <h1 class="error">Ooops</h1>
                <h2 class="error">Ada yang salah, coba lagi nanti</h2>
            </div>
        </div>

    </section>


<%- include('partials/footer') %>

