<%- include('partials/header-landingPage') %>

        <!--Content-->
        <!-- <section class="bg" id="a"> -->
          <div class="container-fluid-top">

            <div class="row">
              <div class="col-lg-6 d-flex justify-content-center">
                <img class="title-image" src="Images/logo.png" alt="Logo-Room">
              </div>
  
              <div class="col-lg-6 align-self-center">
                
                  <div class="dv-card">
                    <h1 class="title-heading big-heading">Room</h1>
                    <h2 class="title-heading section-heading">Memudahkan mu dalam membuat event & buku tamu</h2>
                  </div>
                
                  <div class="dv-card d-flex justify-content-center">
                    <a class="btn btn-outline-dark btn-lg login-button" href="daftar" role="button">Daftar</a>
                    <a class="btn btn-dark btn-lg login-button" href="masuk" role="button">Masuk</a>
                  </div>  
                      
              </div>
                    
            </div>

          </div>
          
        </section>

      <section class="bg1" id="">
        <div class="container-fluid-lp">
          <div class="row">

            <div class="col-lg-6">
              <h2 class="ver-text1">
                <span class="boldText">Room</span> adalah sebuah layanan berbasis website yang bertujuan untuk <span class="boldText">memudahkan</span>
                kalian dalam pembuatan dan pengelolahan <span class="boldText">event</span> ataupun <span class="boldText">buku tamu</span>.
              </h2>
            </div>
            <div class="col-lg-6" style="text-align: center;">
              <img class="lp-img" src="/Images/guests-book.png" alt="">
            </div>

          </div>
        </div>
      </section>

      <section class="bg5" id="">
        <div class="container-fluid-lp">
          <!-- <h1 style=" margin: 1% 0%;" >Mengisi buku tamu sekarang lebih cepat hanya dengan</h1> -->
          <div class="row" style="text-align: center;">

            <div class="col-lg-4 cl">
              <img class="lp-img" src="/Images/qrcode.png" alt="">
              <br><br>
              <h3>Tunjukan Barcode</h3>
            </div>
            <div class="col-lg-4 cl">
              <img class="lp-img" src="/Images/scan-qr.png" alt="">
              <br><br>
              <h3>Scan Barcode</h3>
            </div>
            <div class="col-lg-4 cl">
              <img class="lp-img" src="/Images/done.png" alt="">
              <br><br>
              <h3>Selesai</h3>
            </div>

          </div>
        </div>
      </section>

      <section class="bg1" id="b">
        <div class="container-fluid-lp">
          <h1 class="sub-title">Paket Langganan</h1>
          <div class="row">

            <div class="col-lg-6">
              <div class="card round">
                  <h1 class="card-header">Gratis</h1>
                  <div class="card-body">
                    <h5 class="card-title">Fitur yang akan didapatkan oleh user</h5>
                    <ul>
                        <li>Memiliki Limit 3x Membuat Room</li>
                    </ul>
                    <h5 class="card-title">GRATIS</h5>
                  </div>
                  <div class="card-footer">
                      <a href="/langganan" class="btn btn-outline-dark" id="gratis">Daftar</a>
                  </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card round">
                  <h1 class="card-header">Premium</h1>
                  <div class="card-body">
                    <h5 class="card-title">Fitur yang akan didapatkan oleh user</h5>
                    <ul>
                        <li>Tanpa Limit Membuat Room</li>
                    </ul>
                    <h5 class="card-title">IDR 15.000/Bulan</h5>
                  </div>
                  <div class="card-footer">
                      <a href="/langganan" class="btn btn-outline-primary" id="langganan">Daftar</a>
                  </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="bg4" id="">
        <div class="container-fluid-lp">
  
          <h1 class="titles">
            Be <span class="boldText" >Faster</span>, Be <span class="boldText">Practical</span>.
          </h1>

          <!-- <h1 class="titles">
            Lebih <span class="boldText" >Cepat</span>, Lebih <span class="boldText">Praktis</span>.
          </h1> -->

        </div>
      </section>

<%- include('partials/footer') %>