<%- include('partials/header-landingPage') %>

        <!--Content-->
        <div class="row">
          <div class="col-lg-6 d-flex justify-content-center">
            <img class="title-image" src="Images/logo.png" alt="Logo-Room">
          </div>

          <div class="col-lg-6 align-self-center">
            
              <div class="dv-card">
                <h1 class="title-heading big-heading">Room</h1>
                <h2 class="title-heading section-heading">Memudahkan mu dalam membuat event & buku tamu</h2>
              </div>
            
              <div class="dv-card d-flex justify-content-center">
                <a class="btn btn-outline-dark btn-lg login-button" href="daftar" role="button">Daftar</a>
                <a class="btn btn-dark btn-lg login-button" href="masuk" role="button">Masuk</a>
                <!-- <button type="button" class="btn btn-outline-dark btn-lg login-button"><i class=""></i><a href="daftar">Daftar</a></button>
                <button type="button" class="btn btn-dark btn-lg login-button"><i class=""></i><a href="masuk">Masuk</a></button> -->
              </div>  
                  
          </div>
                
        </div>
      </div>

<%- include('partials/footer') %>