<%- include('partials/header') %>

<div class="container-fluid">
    <div class="card room-qr">
        <div class="qr-div">
            <img src="<%= qrcode %> " alt="QrCode">
        </div>
    </div>
</div>

<%- include('partials/footer') %>