<%- include('partials/header-kosong') %>

      

    <!--Form Daftar-->
    <h1 class="title-content">Lupa Password</h1>

    <form action="/lupa-password" method="post">
      <div class="center">

        <div class="form-floating mb-3">
          <input required type="email" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
          <label for="floatingInput">Alamat Email</label>
        </div>
      
        <div class="card-body">
          <button class="btn btn-submit" type="submit">Ubah Password</button>
        </div>
      </div>
    </form>
  </div>

  <br><br><br><br>

<%- include('partials/footer') %>