<%- include('partials/header-kosong') %>

      

    <!--Form Daftar-->
    <h1 class="title-content">Lupa Password</h1>

    <form action="/lupa-password-1/<%= userId %>/<%= token %>" method="post">
      <div class="center">

        <div class="form-floating mb-3">
          <input required type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
          <label for="floatingPassword">Kata Sandi</label>
        </div>
      
        <div class="card-body">
          <button class="btn btn-submit" type="submit">Ubah Password</button>
        </div>
      </div>
    </form>
  </div>

  <br><br><br><br>

<%- include('partials/footer') %>