<%- include('partials/header') %>

    <!--Content-->
    <div class="container-fluid">
        <div class="">
            <form action="" method="post"></form>
            <h1>Room Info</h1>
            <div class="card room">
                <div class="img-header-card center">
                    <img src="/Images/logo.png" class="card-img-top" alt="Picture">
                    <h4 style="text-align: center;" >Mobile Programming</h4>
                </div>
                
                    <div class="center">
                        <div class="mb-3">
                            <div class="row">

                                <div class="col-lg-6 d-flex justify-content-left">
                                    <h4>1x Mobile Programming</h4>
                                </div>
                
                                <div class="col-lg-6">
                                    <h5 class="show-all"><a href="tampilsemua">IDR 50.000</a></h5>
                                </div>
                                <hr>
                                <div class="col-lg-6 d-flex justify-content-left">
                                    <h4>Subtotal</h4>
                                </div>
                
                                <div class="col-lg-6">
                                    <h5 class="show-all"><a href="tampilsemua">IDR 50.000</a></h5>
                                </div>
                                <hr>
                            </div>
                        </div>

                        <div class="mb-3">
                            <h4>Informasi Peserta</h4>
                        </div>
                        <div style="padding: 5px 15px;"> 
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Nama</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Hotel XYZ">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Email</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Hotel XYZ">
                            </div>
                        </div>
            
                    </div>
                  
            </div>
            <div class="center" style="text-align: center;">
                <button class="btn mk-btn-submit" type="submit">Beli</button>
            </div>
            </form>
            
        </div>
    </div>


<%- include('partials/footer') %>