<%- include('partials/header-kosong') %>

    <h1 class="title-content">Pembelian Di Proses</h1>
    <div class="form-card-info">
      <h3>Terima kasih atas pembelian anda, Mohon menunggu sementara pesananan anda akan di proses 1x24 Jam</h3>
      <br>
      <a class="btn btn-outline-primary" href="/home"><i class="fas fa-times"></i> Tutup</a>
      
    </div>
      
<%- include('partials/footer') %>