<%- include('partials/header') %>

    <!--Nama Room-->
    <div class="container-fluid" >
        <h1>Mobile Programming </h1>

        <div class="center data-card">

            <h4>Tanggal: 19-10-2021</h4>
            <h4>Hotel Aston, Makassar</h4>
            <h4>10 Tiket Terjual</h4>
            <h4>40 Tiket Tersisa</h4>
            <h4>ID Room: xxxxxx</h4>
            
        </div>

        <div class="scan-qr">
    
            <a href="">
                <img class="img-button" src="/Images/group.png" alt="">
            </a>
            <a href="">
                <img class="img-button" src="/Images/open-book.png" alt="">
            </a>
            <a href="">
                <img class="img-button" src="/Images/qrcode.png" alt="">  
            </a>
            <a href="">
                <img class="img-button" src="/Images/copy.png" alt="">
            </a>
           
            
            
            
        </div>

    </div>

    


            



    
<%- include('partials/footer') %>