<%- include('partials/header') %>

    <!--Nama Room-->
    <div class="container-fluid" >
        <h1>Mobile Programming </h1>
        <h4>Tanggal: 19-10-2021</h4>
    </div>
    

        <!--Pertemuan-->
        <div class="container-fluid">
            <!--Header Content-->
            <div class="header-content">
                <h4>Urutkan</h4>
                
            </div>

            <!--Content-->
            <div class="content">

                <a href="">
                    <div class=" data-card center">
                        <h4>1. Joseph, 52018022</h4>
                    </div>
                </a>

                <a href="">
                    <div class=" data-card center">
                        <h4>2. Immanuel, 5201892</h4>
                    </div>
                </a>

                <a href="">
                    <div class=" data-card center">
                        <h4>3. Meliana, 52018076</h4>
                    </div>
                </a>       

                <br>
                <div class="center" style="text-align: center;">
                    <button class="btn mk-btn-submit" type="submit">Export</button>
                </div>

            </div>

            

        </div>

    
<%- include('partials/footer') %>