<%- include('partials/header') %>

      
      <!--Content-->
      <div class="container-fluid-top">

        <h1>Export Data</h1>
        <br>
        <h4>Mengubah file CSV ke file XLS (Excel)</h4>
        <p class="tutor-style" > 
            Pada tutorial kali ini kita akan mencoba untuk mengubah file yang berformat CSV
            menjadi file berformat XLS atau mungkin yang lebih dikenal dengan file Excel.
            tanpa menunggu lama lagi berikut langkah - langkahnya:
        </p>

        <ol class="tutor-style">
            <li>
                Buka file berformat CSV kalian dengan menggunakan aplikasi excel,
                maka tampilannya akan seperti berikut:
                <br>
                <img class="img-tutor" src="/Images/expor1.jpg" alt="" srcset="">
            </li>
            <br>
            <li>
                Lalu Pilih menu <b>Data</b> dari menu bagian atas atau ribbon.
                <br>
                <img class="img-tutor" src="/Images/export2.png" alt="">
            </li>
            <br>
            <li>
                Kemudian pilih <b>From Text/CSV</b> kemudian kalian akan disuruh untuk memilih file CSV kalian.
                pilihlah file CSV yang kalian ingin ubah
            </li>
            <br>
            <li>
                Setelah kalian memilih file kalian, nanti akan muncul pop up window seperti ini
                <br>
                <img class="img-tutor" src="/Images/export3.png" alt="">
                <br>
                lalu kalian bisa pilih <b>Load</b> untuk menampilkan hasilnya pada lembar kerja saat ini
            </li>
            <br>
            <li>
                lalu kemudiaan file csv kalian akan di ubah secara otomatis menjadi file excel dengan tampilan seperti berikut
                <br>
                <img class="img-tutor" src="/Images/export4.png" alt="">
            </li>
        </ol>
        <p class="tutor-style">
            Dan sekian tutorialnya, sekarang file CSV anda sudah menjadi file XLS. sehingga kalian bisa mengubahnya sesuka hati.
        </p>
        

      </div>
        
      
<%- include('partials/footer') %>