<%- include('partials/header') %>

      
      <!--Content-->
      <div class="container-fluid-top">

        <h1>Panduan</h1>
        <a href="/tutorial/export">
            <div class="room card">
                <h3>Export Data</h3>
            </div>
        </a>
        

      </div>
      <br><br><br><br><br><br>
      
<%- include('partials/footer') %>