<%- include('partials/header-kosong') %>

      
      <!--Content-->
      
        <h1 class="title-content">Verifikasi Email</h1>
        <div class="form-card-info">
          <h3>Silahkan cek email anda dan mengklik tautan untuk mengaktifkan akun</h3>
          <br>
          <a class="btn btn-outline-primary" href="https://www.google.com/gmail/"><i class="fab fa-google"></i> Buka Gmail</a>
          <a class="btn btn-outline-primary" href="https://mail.yahoo.com/"><i class="fab fa-yahoo"></i> Buka Yahoo</a>
        </div>
      
<%- include('partials/footer') %>